@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');





body {
    font-family: 'Poppin', sans-serif;
    /* display: flex; */
    align-items: center;
    min-height: 100vh;
}




/* Banner section */
/* .banner {
    background-image: url('https://images.pexels.com/photos/18978674/pexels-photo-18978674/free-photo-of-close-up-of-a-blouse-with-a-tag.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    height: 80vh;
    
} */
/* .banner h1 {
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    align-items: center !important;
    justify-content: center !important;
    
} */


.sale {
    background-image: url("https://images.pexels.com/photos/5872364/pexels-photo-5872364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: fixed;
    width: 800px;
    height: 300px;
}


/* Must Buy */
.product-inner-box .icons {
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: -3%;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;

}
.product-inner-box .icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

.product-inner-box .onsale .badge {
    background: #000;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-inner-box .onsale .badge:before {
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #000;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}
.product-inner-box .onsale .badge:after {
    border-width: 10px 8px 0 10px;
    border-color: #000 transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}
.product-inner-box img {
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 350px;
    width: 100%;
    object-fit: cover;
}
.product-box.is-hover .icons {
    transform: rotateY(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

}
.product-box.is-hover .cart-btn {
    opacity: 1;
}



/* Footer */
.footer h2 {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    

}

/* sale gallery */
.sale-gallery .card {
    border: 10px solid white;    
    border-radius: 20px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2);
}

.sale-gallery .product {
    width: 300px;
    padding: 10px;
    border-radius: 15px;

}

/* comming soon */
.comming {
    background-image: url("https://images.pexels.com/photos/3735641/pexels-photo-3735641.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: fixed;
    width: 800px;
    height: 300px;
}

/* Shopping Made Easy */
.easy h2 {
    font-size: 18px;
}
.easy p {
    line-height: 1.7rem;
}

/* pagination design */
.pagination a {
    color: #000;
}

/* Blog */

.blog h3 {
    font-size: 18px;
    font-weight: bold;
}